.footer{
    
    border-radius: 6px;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-bottom: 30px;
}

.footer a {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #f1f1f1;
    border-radius: 6px;
    padding: 4px 12px;
    color: inherit;
}